@font-face{
  font-family: "SanFran-Black";
  src: url("./fonts/sf-pro/SF-Pro-Display-Black.otf") format("truetype");
}
@font-face{
  font-family: "SanFran-Heavy";
  src: url("./fonts/sf-pro/SF-Pro-Display-Heavy.otf") format("truetype");
}
@font-face{
  font-family: "SanFran-Medium";
  src: url("./fonts/sf-pro/SF-Pro-Display-Medium.otf") format("truetype");
}
@font-face{
  font-family: "SanFran-Regular";
  src: url("./fonts/sf-pro/SF-Pro-Display-Regular.otf") format("truetype");
}
*{
  box-sizing: border-box;
}
*:before,
*:after{
  box-sizing: inherit;
}
body{
  background: #d8d8d8;
  font: 400 16px/1.5 'SanFran-Regular', sans-serif;
  padding: 10px;
}
button{
  font-size: 2em;
}
input{
  font-size: 1.5em;
}
.logo{
  width: 3em;
  height: 3em;
  display: inline-block;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.35);
}
.title{
  font-family: 'SanFran-Heavy', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}
.controls{
  display: flex;
  flex: 0 1 0;
}