*{
  box-sizing: border-box;
}
*:before,
*:after{
  box-sizing: inherit;
}
body{
  background: #8b7e7e;
  font: 400 16px/1.5 sans-serif;
  padding: 10px;
}
.logo{
  width: 3em;
  height: 3em;
  display: inline-block;
}
.title{
  font-size: 2em;
  font-weight: 700;
}
